
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_User.cshtml";
}

<!-- Banner section -->
<section id="home" class="banner_wrapper p-0">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('../../public/images/gearvn_biển_-12.jpg');">
                <div class="slide-caption text-center">
                    <div>
                        <h1>Welcome to HuKaiAN Resort in VietNam</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, illum.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('../../public/images/gearvn_biển_-35.jpg');">
                <div class="slide-caption text-center">
                    <div>
                        <h1>Welcome to HuKaiAN Resort in VietNam</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, illum.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('../../public/images/gearvn_biển_-9.jpg');">
                <div class="slide-caption text-center">
                    <div>
                        <h1>Welcome to HuKaiAN Resort in VietNam</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, illum.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="container-lg booking-area">
        <form class="row">
            <div class="col-lg mb-3 mb-lg-0">
                <input type="date" class="form-control" placeholder="Date">
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <input type="date" class="form-control" placeholder="Date">
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <select class="form-select">
                    <option selected>Người lớn</option>
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="1">5</option>
                    <option value="1">6</option>
                    <option value="1">7</option>
                    <option value="1">8</option>
                    <option value="1">9</option>
                </select>
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <select class="form-select">
                    <option selected>Trẻ em</option>
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="1">5</option>
                    <option value="1">6</option>
                    <option value="1">7</option>
                    <option value="1">8</option>
                    <option value="1">9</option>
                </select>
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <button type="submit" class="main-btn rounded-2 px-lg-3"> Kiểm Tra Phòng </button>
            </div>

        </form>
    </div>
</section>
<!-- Banner section exit -->
<!-- About section -->
<section id="about" class="about_wrapper">
    <div class="container">
        <div class="row flex-lg-row flex-column-reverse">
            <div class="col-lg-6 text-center text-lg-start">
                <h3>
                    Welcome to <span>
                        HuKaiAN Resort <br class="d-none d-lg-block">
                        the haven
                    </span> of your weekend
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum natus ullam enim odio est dolore nostrum, asperiores culpa.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tempore.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi.
                </p>
                <a href="#" class="main-btn mt-4">Explore</a>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
                <img src="~/Public/images/Gearvn_Biển_-37.jpg" class="img-fluid" alt="about">
            </div>
        </div>
    </div>

</section>
<!-- About section exit-->
<!-- Rooms section -->
<section id="rooms" class="rooms_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12  text-center mb-5">
                <h6>Hãy lựa chọn căn phòng cho mình</h6>
                <h3>Our Favorite Rooms</h3>
                <hr width="30%" />
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-4 mb-4 mb-lg-0">
                <div class="room-items">
                    <img src="~/Public/images/room/room1.jpg" class="img-fluid room-img">
                    <div class="room-item-wrap">
                        <div class="room-content">
                            <h5 class="text-white mb-lg-5 text-decoration-underline text-center">Royal Suit</h5>
                            <p class="text-white text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Error quisquam sint amet incidunt rerum distinctio?
                            </p>
                            <p class="text-white fw-bold mt-lg-4 text-center">1.200.000 VNĐ / Đêm</p>
                            <a href="#" class="main-btn border-white text-white mt-lg-5 text-center">Đặt Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-lg-0">
                <div class="room-items">
                    <img src="~/Public/images/room/room2.jpg" class="img-fluid">
                    <div class="room-item-wrap">
                        <div class="room-content">
                            <h5 class="text-white mb-lg-5 text-decoration-underline text-center">Royal Suit</h5>
                            <p class="text-white text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Error quisquam sint amet incidunt rerum distinctio?
                            </p>
                            <p class="text-white fw-bold mt-lg-4 text-center">1.200.000 VNĐ / Đêm</p>
                            <a href="#" class="main-btn border-white text-white mt-lg-5 text-center">Đặt Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-lg-0">
                <div class="room-items">
                    <img src="~/Public/images/room/room3.jpg" class="img-fluid">
                    <div class="room-item-wrap">
                        <div class="room-content">
                            <h5 class="text-white mb-lg-5 text-decoration-underline text-center">Royal Suit</h5>
                            <p class="text-white text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Error quisquam sint amet incidunt rerum distinctio?
                            </p>
                            <p class="text-white fw-bold mt-lg-4 text-center">1.200.000 VNĐ / Đêm</p>
                            <a href="#" class="main-btn border-white text-white mt-lg-5 text-center">Đặt Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Rooms section exit -->
<!-- Services section -->
<section id="services" class="services_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h6>We Are Here For You</h6>
                <h3>Our Awesome Services</h3>
            </div>
        </div>
        <div class="row align-items-center service-item-wrap">
            <div class="col-lg-7 p-lg-0">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="spa" role="tabpanel">
                        <img src="~/Public/images/service1.webp">
                    </div>
                    <div class="tab-pane fade" id="restaurant" role="tabpanel">
                        <img src="~/Public/images/service2.webp">
                    </div>
                    <div class="tab-pane fade" id="swimming" role="tabpanel">
                        <img src="~/Public/images/service3.webp">
                    </div>
                    <div class="tab-pane fade" id="conference" role="tabpanel">
                        <img src="~/Public/images/service6.webp">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 position-relative">
                <div class="service-menu-area">
                    <ul class="nav">
                        <li>
                            <a data-bs-toggle="tab" href="#spa" class="active">
                                <span class="service-icon">
                                    <img src="~/Public/images/service-icon1.webp" alt="">
                                </span>
                                <h5>Spa, Beauty & Health</h5>
                                <p>
                                    <span>Spa và Xông hơi </span>Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Facilis, repellat.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tab" href="#restaurant">
                                <span class="service-icon">
                                    <img src="~/Public/images/service-icon2.webp" alt="">
                                </span>
                                <h5>Nhà Hàng</h5>
                                <p>
                                    <span>Nhà Hàng</span>Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Facilis, repellat.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tab" href="#swimming">
                                <span class="service-icon">
                                    <img src="~/Public/images/service-icon3.webp" alt="">
                                </span>
                                <h5>Hồ Bơi</h5>
                                <p>
                                    <span>Hồ Bơi </span>Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Facilis, repellat.
                                </p>
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tab" href="#conference">
                                <span class="service-icon">
                                    <img src="~/Public/images/service-icon4.webp" alt="">
                                </span>
                                <h5>Tiệc Ngoài Trời</h5>
                                <p>
                                    <span>Đám cưới</span>Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Facilis, repellat.
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services section exit -->
<!-- Team section -->
<section id="team" class="team_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h6>Bạn có thể tin đồng đội của chúng tôi</h6>
                <h3>Đội Ngũ Nhân Viên</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <img src="~/Public/images/team/njh.png" class="img-fluid rounded-3">
                    <div class="team-info">
                        <h5>Quoc Tu</h5>
                        <p>Bếp Trưởng</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <img src="~/Public/images/team/jisoo.jpg" class="img-fluid rounded-3">
                    <div class="team-info">
                        <h5>Thao Uyen</h5>
                        <p>Trưởng Bộ Phận Ẩm Thực</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <img src="~/Public/images/team/yoona.jpg" class="img-fluid rounded-3">
                    <div class="team-info">
                        <h5>Phuong An</h5>
                        <p>Trưởng bộ phận lễ tân</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <img src="~/Public/images/team/rose.jpg" class="img-fluid rounded-3">
                    <div class="team-info">
                        <h5>Duong Nhu</h5>
                        <p>Quản Lý Quầy Bar</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Team section exit -->
<!-- Gallery section -->
<section id="gallery" class="gallery_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h6>Hình ảnh khu nghỉ dưỡng HuKaiAn</h6>
                <h3>Bộ sưu tập HuKaiAN</h3>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="~/Public/images/pic1.jpg" class="img-fluid w-100 hori">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="~/Public/images/pic2.jpg" class="img-fluid w-100 hori">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="~/Public/images/pic3.jpg" class="img-fluid w-100 hori">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="~/Public/images/pic4.jpg" class="img-fluid w-100 hori">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-md-6 gallery-item">
                <img src="~/Public/images/Gearvn_Biển_-35.jpg" class="img-fluid w-100 ver">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-md-6 gallery-item">
                <img src="~/Public/images/Gearvn_Biển_-37.jpg" class="img-fluid w-100 ver">
                <div class="gallery-item-content"></div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery section exit -->
<!-- Pricing section -->
<section id="price" class="price_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h6>Các khuyến mãi tốt nhất cho bạn</h6>
                <h3>Giá Combo</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-4 text-center rounded-3">
                    <h5 class="text-decoration-underline mb-4">Couple</h5>
                    <ul class="list-unstyled">
                        <li><p>Vé Máy Bay (2)</p></li>
                        <li><p>Lễ Hội Âm Nhạc (2)</p></li>
                        <li><p>Vé Buffet Tối (2)</p></li>
                        <li><p>Vé Spa Thư Giản (2)</p></li>
                    </ul>
                    <hr />
                    <h4>5.000.000VNĐ <sub class="fs-6 fw-normal">/2 ĐÊM</sub></h4>
                    <a href="#" class="main-btn">Đặt Ngay</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-4 text-center rounded-3">
                    <h5 class="text-decoration-underline mb-4">Gia Đình</h5>
                    <ul class="list-unstyled">
                        <li><p>Vé Máy Bay (4)</p></li>
                        <li><p>Lễ Hội Âm Nhạc (4)</p></li>
                        <li><p>Vé Buffet Tối (4)</p></li>
                        <li><p>Vé Spa Thư Giản (4)</p></li>
                    </ul>
                    <hr />
                    <h4>18.000.000VNĐ <sub class="fs-6 fw-normal">/2 ĐÊM</sub></h4>
                    <a href="#" class="main-btn">Đặt Ngay</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-4 text-center rounded-3">
                    <h5 class="text-decoration-underline mb-4">Friend</h5>
                    <ul class="list-unstyled">
                        <li><p>Vé Máy Bay (6)</p></li>
                        <li><p>Lễ Hội Âm Nhạc (6)</p></li>
                        <li><p>Vé Buffet Tối (6)</p></li>
                        <li><p>Vé Spa Thư Giản (6)</p></li>
                    </ul>
                    <hr />
                    <h4>28.000.000VNĐ<sub class="fs-6 fw-normal">/2 ĐÊM</sub></h4>
                    <a href="#" class="main-btn">Đặt Ngay</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-4 text-center rounded-3">
                    <h5 class="text-decoration-underline mb-4">Company</h5>
                    <ul class="list-unstyled">
                        <li><p>Vé Máy Bay (10)</p></li>
                        <li><p>Lễ Hội Âm Nhạc (10)</p></li>
                        <li><p>Vé Buffet Tối (10)</p></li>
                        <li><p>Vé Spa Thư Giản (10)</p></li>
                    </ul>
                    <hr />
                    <h4>48.000.000VNĐ <sub class="fs-6 fw-normal">/2 ĐÊM</sub></h4>
                    <a href="#" class="main-btn">Đặt Ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing section exit -->
